* {
    margin: 0;
    padding: 0;
  }
body,
html{
    scroll-behavior: smooth;
}
  
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span{
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* header start */
#header{
  background: #477018;
}
.header{
  padding: 16px 0;
  color: white;
  font-family: inter;
}
/* header end */


/* nav start */
.navbar-brand{
  font-family: Rye;
  font-size: 30px;
  color: #477018 !important;
}
.menu-bg{
  background-color: white;
}
.menu-bg li a{
    text-transform: uppercase;
    color: #477018 !important;
}
.d-flex input{
  width:100px;
  outline: none;
  border: none;
  overflow: hidden;
}
.d-flex a{
  height: 40px;
  width: 35px;
  text-align: center;
  line-height: 40px;
  font-size: 19px;
  color: #477018;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
	color: #477018;
}
.navbar-nav li{
  padding: 24px 24px;
  font-family: inter;
  font-weight: 700;
}
/* nav end */

/* banner start */

#banner{
    background:  url(../image/banner5.jpg) no-repeat center / cover;
    padding: 80px 0px;
}
.shop_img{
    padding: 100px 0;
}
.shop_text{
    padding: 50px 0;
}
.shop_text h2{
    padding: 25px 0;
}
.shop_buttom{
    padding-top: 20px;
    display: flex;
}
.shop_btn_text{
    margin-left: 15px;
}

/* banner end */